@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;500&display=swap');

$c-green: #bbbe64ff;
$c-plum: #8e5572ff;
$c-mint: #f2f7f2ff;
$c-khaki: #bcaa99ff;
$c-violet: #443850ff;

$text-w: #fff;
$text-b: #000000;

$primary-font-family: 'Lato', sans-serif;
$secondary-font-family: 'Playfair Display', serif;
